$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Noto Serif;
$font_main: Poppins;
$font_heading_weight: 400;
$font_main_weight: 400;
$retina: '(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)';

$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

$action_1: #fc4f65;
$action_2: #8d8b96;
$action_3: #e93a7d;
$color_main: #5124fb;
$color_heading: #919dab;
$color_white: #ffffff;
$bg_dark: #4520e7;
$bg_light: #ffffff;
$color_header: #5124fb;

$color_red: #ea3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #e93a7d;

$action_primary: #5819e9;
$action_secondary: #5124fb;
$action_third: #e93a7d;

$colors_heading: #fc4f65;
$colors_text: rgba(21, 20, 57, 0.6);
$colors_white: #ffebff;
$color_grey: #c2a3a3;

$background_dark: #ffffff;
$background_light: #c2a3a3;

$socials_facebook: #fc4f65;
$socials_youtube: #ea3223;
$socials_twitter: #2bc2c9;
$socials_pinterest: #704641;
$socials_snapchat: #fffc00;
$socials_linkedin: #0077b5;
$social_dribble: rgba(21, 20, 57, 0.6);
$scotpac_heading: #62626d;
$cta_red: #fc4f65;

$color_pink: #ff4e62;
$color_blue: #5124fb;
$color_peach: #fce9e9;
$color_gray: #f2f2f2;
